

.banner{
    .banner-image {
        width: 100vw;
        margin-left:-144px;
        margin-right:-144px;
        height: 862px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-title {
        color: white;
        font-size: 8vw;
        color: transparent;
        -webkit-text-stroke: 3px white;
    }
}

.afficher-plus-acceuil{
    width:100%;
    display:flex;
    justify-content: center;
    margin: 40px 0;
}

.filters {
    max-width: 1152px;
    padding: 2rem 0;
    height: 100%;
    select{
        width:257px;
        margin-right: 40px;
        text-transform: uppercase;
        padding: 1.1rem 3.2rem;
        font-weight: 500;
        font-size: 12px;
        font-family: "Poppins-Regular";
        border-radius: 0.9rem;
    }   
    #sort-order{
        float:right;
        margin-right:0;
    }
}




    /****** MEDIA ECRAN  Max 1024px  ********/
@media (max-width: 1024.1px){

.filters{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    #sort-order{
        float: none;
    }

    select{
        margin-bottom:10px;
        margin-right:0;
    }
}
}

/****** MEDIA TABLETTE   Max 768px  ********/
@media (max-width: 768.1px){

    .banner{
        .banner-image {
            margin-left:0;
            height: 600px;
        }
    }
}

         /****** MEDIA MOBILE   Max 425px  ********/
@media (max-width: 425.1px){

    .banner{
        .banner-image {
            max-height: 253px;
        }
    }
}

 



