#lightbox{
    display:none;
   position:fixed;
   top: 0;
   left:0;
   width:100%;
   height:100vh;
   background-color: var(--black-color);
   z-index:10;

   .lightbox-next, .lightbox-prev{
        border:none;
        width:10%;
        height:30px;
        position:fixed;
        right:0;
        top:50%;
        margin-top:14px;
        z-index:15;
        color:white;
        font-size:15px;
        background-color:transparent;
        cursor:pointer;

        &:hover{
            font-weight: 800;
            
        }
   }
}

.lightbox-prev{
    left:0;
    }

.lightbox-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        color:white;
    img{
        max-width: 100%;
        height: 80vh;
        width: auto;
        position: relative;
    }
}


#lightbox-close {
    border: none;
    color:white;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 20;
    top: 0;
    right: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: xx-large;
    background-color: transparent;
    
}


.lightbox-meta{
    color:white;
    background-color:var(--black-color);
    position: absolute;
    width: 100%;
    padding-bottom: 17px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "SpaceMono-Regular";
}



/****** MEDIA ECRAN TABLETTE  Max 768px  ********/
@media (max-width: 768.1px){
    #lightbox-close {
        right: 15px;
    }
}

/****** MEDIA ECRAN MOBILE  Max 425px  ********/
@media (max-width: 425.1px){

#lightbox{
    .lightbox-next{
        right: 35px;
    }
    #lightbox-close {
        top:-25px;
        right: 0px;
    }
}
}