/**** Variables de couleurs ****/
:root {
    --main-red-color: #E00000; /* var(--main-red-color) */
    --second-red: #fe5858; /* var(--second-red-color) */
    --third-red:#FFD6D6; /* var(--third-red-color) */
    --black-color: #000000; /* var(--black-color) */
    --blue-color:#313144; /* var(--blue-color) */
    --main-grey-color: #C4C4C4; /* var(--main-grey-color) */
    --medium-grey-color: #D8D8D8;  /* var(--medium-grey-color) */
    --light-grey-color:#E5E5E5;  /* var(--light-grey-color) */
  }


/**** Police de caracteres ****/
body{
    font-family: 'Space Mono', monospace;
    font-size: 60px;
    width: 1440px;
}

ul {
    list-style-type: none;
    :hover{
        font-weight: 700;
    } 
    a{
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        color: var(--black-color);
        text-decoration: none;
        display: block ;
         
        } 
  }


