/**** Variables de couleurs ****/
:root {
    --main-red-color: #E00000; /* var(--main-red-color) */
    --second-red: #fe5858; /* var(--second-red-color) */
    --third-red:#FFD6D6; /* var(--third-red-color) */
    --black-color: #000000; /* var(--black-color) */
    --blue-color:#313144; /* var(--blue-color) */
    --main-grey-color: #C4C4C4; /* var(--main-grey-color) */
    --medium-grey-color: #D8D8D8;  /* var(--medium-grey-color) */
    --light-grey-color:#E5E5E5;  /* var(--light-grey-color) */
  }


/**** Police de caracteres ****/
body{
    margin:0px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
  
    color:var(--black-color);
    margin-left:144px;
    margin-right: 144px;
 

}

h1{
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;

}

h2{
    font-size: 66px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}

h3{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

ul {
    list-style-type: none;
    :hover{
        font-weight: 700;
    } 
    a{
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        color: var(--black-color);
        cursor:default;
        display: block ;
         
        } 
  }


  a {
    text-decoration: none;
    color:white;
}


/****** MEDIA ECRAN MOBILE  Max 425px  ********/
@media (max-width: 425.1px){

    h2{
        font-size:46px;
        font-weight: 400;
        }

    h3{
        font-size:14px;
        margin-top:20px;

    }

 
  

}
