

/* Modale  (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right:0;
    top: 0;
    width: 530px;
    height: 97%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--black-color); /* Fallback color */
    background-color: var(--light-grey-color); /* Gris opacity */
    animation:fadeinUp 5s;
    z-index:9999;
}


/* Modal Contenu de la boite */
.modal-content {
    background-color: white;
    margin: 0% auto; /* 15% from the top and centered */
    padding: 20px ;
    border: 5px solid var(--black-color);
    img{
        width: 505px;
        margin-left: -20px;
        
    }
}

.close-cross{
    position: absolute;
    right: 8px;
    top: -1px;
    font-size:23px;
    z-index: 2;
    margin:0;
    cursor:pointer;
}



.ff-el-group{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding-left:101px;
}

.ff-el-input-label{
    font-weight: 500;
}

.nomContact{
    font-weight: 700;
}

#ff_1_names_last_name_ {
    width: 263px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 24px;
}

#ff_1_email {
    width: 263px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 24px;
}


#ff_1_subject {
    width: 263px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 24px;
    text-transform:uppercase;
}


#ff_1_message{
    width: 263px;
    height: 210px;
    margin-top: 10px;
    margin-bottom: 24px;
}

form.fluent_form_1 .ff-btn-submit{
    width: 263px !important;
    height: 50px !important;
    color:var(--black-color) !important;
    background-color:var(--medium-grey-color) !important;
    border: 1px solid var(--black-color) !important;
    cursor:pointer !important;
}


@keyframes fadeinUp {
	0% {
		transform: translateY(40%);
		opacity: 0;
		}
	100% {
		transform: translateY(0%);
		opacity: 1;
		}
	}




    /****** MEDIA TABLETTE  Max 768px  ********/
@media (max-width: 768.1px){

    .modal{
        height:100%;
    }
}

      /****** MEDIA TABLETTE  Max 768px  ********/
@media (max-width: 425.1px){

    .modal{
        height:100vh;
        width:100vw;
    }

    .ff-el-group{
       
        padding-left:  50px;
    }

    form.fluent_form_1 .ff-btn-submit {
        width: 270px !important;
    }

}